*{
    font-size: 25px;
}
#dancingForm{
    width: 500px;
    margin: 100px auto;
    font-weight: 600;
}
#singingForm{
    width: 500px;
    margin: 100px auto;
    font-weight: 600;
}
#declamationForm{
    width: 500px;
    margin: 100px auto;
    font-weight: 600;
}
input{
    height: 40px;
    width: 400px;
}
#submit{
    border-radius: 10px;
    background-color: rgb(9, 0, 81);
    font-size: 25px;
    width: 200px;
    color: white;
    text-decoration: none;
    height: 50px;
}
#submit:hover{
    color: rgb(209, 70, 0);
    text-decoration: underline;
}
.buttons{
    margin-top: 400px;
}
a{
    margin: 0 190px;
    margin-top: 100px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(9, 0, 81);
    font-size: 50px;
    color: white;
    text-decoration: none;
    padding: 20px;
}
a:hover{
    text-decoration: underline;
    color: rgb(209, 70, 0);
}